<!-- Page Conent -->
<main class="page-content">

    <!-- Advisor Details -->
    <div class="advisor-details-area bg--white section-padding--xlg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pg-advisor">
                        <div class="pg-advisor__thumb">
                            <img src="images/advisors/DLS.jpg" alt="Advisor Details Thumb">
                        </div>
                        <div class="pg-advisor__details">
                            <h2>SEYI ALADE</h2>
                            <h5>DIRECTOR LEGAL</h5>
                            <p>Seyi Alade is an alumnus of the Obafemi Awolowo University, Ile Ife where he obtained an LLB degree in Law in 1997. He became a Barrister and Solicitor of the Supreme Court of Nigeria upon his call to the Bar in the year 2000.
He began his legal training work as a litigation officer with the Court of Appeal Lagos where he worked for a brief period. He thereafter went into private practice with reputable law firms, gaining tremendous experience while also achieving commendable milestones. He had handled several tax advisory, Information and Communication Technology, Commercial and Civil litigations and many other legal assignments involving oil and gas, construction, banking and public sector matters. </p>
                            
                            <p></p>

                            

                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="pg-advisor__experience">	
                        <h3>EXPERIENCE</h3>
                        <ul>
                            <li>
                                <h6>1 September, 2016  -  present</h6>
                                <p>Director Legal LIRS.</p>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="pg-advisor__biography">
                        <h3>Biography</h3>
                        <p>He started his professional career at the international firm of Price Waterhouse (Chartered Accountants) in 1982. His portfolio of clients covered various industries including Government and Non-Government organizations, Banking, Oil & gas exploration and oil service companies, Insurance companies, Trading concerns, Multinational courier and logistics companies, Securities companies, Finance, Investment and Leasing companies and Manufacturing concerns</p>
                        <p>As a versatile lawyer and administrator, Mr. Alade set up his own private practice Seyi Alade & Co. where he doubled as the Managing Partner and Head of the Commercial Group. His private practice covers the Nigerian Fiscal, tax advisory and intellectual property environment. He regularly advises corporate entities, project sponsors, fund managers, banks on corporate compliance and various commercial matters.
</p>
                        <p>Mr. Alade is a consummate professional with high ethical values, a passion for completeness and perfection and an uncommon flair to work out bespoke and practical solution to issues. He is a member of the Nigerian Bar Association (NBA), the international Bar Association. He is happily married with children.
He joined the Lagos State Internal Revenue Service as Director, Legal Services in September 2015.</p>
                        <h4>need any help or consultation?</h4>
                        <h6>mail us  -  <a href="mailto:info@lirs.gov.ng">info@lirs.gov.ng</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div><!--// Advisor Details -->
