{% extends 'base.html' %} 
{% load static %}

{% block content %}

<!-- Breadcrumb Area -->
<div id="cr-breadcrumb-area3" class="cr-breadcrumb-area3 section-padding--md">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-8">
                <div class="cr-breadcrumb">
                    <ul class="cr-breadcrumb__pagination">
                        <li><a href="index-2.html">Home</a></li>
                        <li><a href="about-us.html">Management</a></li>
                        <li></li>
                    </ul>
                    <h1>Management</h1>
                    <p>  </p>
                </div>
            </div>
        </div>
    </div>
</div><!--// Breadcrumb Area -->

<!-- Page Conent -->
<main class="page-content">

    <!-- Advisor Details -->
    <div class="advisor-details-area bg--white section-padding--xlg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pg-advisor">
                        <div class="pg-advisor__thumb">
                            <img src="{% static 'images/advisors/DPIT.jpg' %}" alt="Advisor Details Thumb">
                        </div>
                        <div class="pg-advisor__details">
                            <h2>AYODELE ADEBAYO</h2>
                            <h5>DIRECTOR PERSONAL INCOME TAX</h5>
                            <p>Ayodele Adebayo holds a Higher National Diploma in Accountancy from the prestigious Yaba College of Technology, Lagos. He is a fellow of the Chartered Institute of Accountants (ICAN) as well as an Associate member Chartered Institute of Taxation. He is an alumnus of the Lagos Business School and the London Business School where he attended Executive Management courses in Management and Leadership. </p>
                            
                            <p>He has over two decades cognate banking experience and commenced his banking career at Centre Point Merchant Bank where he worked as a Banking Office Treasury. He then moved to Fountain Trust Merchant Bank and served in various capacities in Treasury, Finance and Commercial Banking. </p>

                            

                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="pg-advisor__experience">	
                        <h3>EXPERIENCE</h3>
                        <ul>
                            <li>
                                <h6>1 September, 2016  -  present</h6>
                                <p>Director Personal Income Tax LIRS.</p>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="pg-advisor__biography">
                        <h3>Biography</h3>
                        <p>He later joined Magnum Trust Bank Plc where he held several Management Positions in the bank between 1999 and 2003. Following the merger of Magnum Trust Bank with four other banks in 2006 to form Sterling Bank, he was transferred to Abuja as the Group Head Public Sector in charge of all Public Sector Funds. He had responsibility for driving various Government businesses and franchises, which took him to 35 states of the Federation. During this period, he structured and managed various projects with State Governments and was instrumental in facilitating the building of a strong Revenue Base.
Mr. Adebayo joined Lagos State Internal Revenue Service as Director, Personal Income Tax in September 2015.
</p>
                        <p></p>
                        <h4>need any help or consultation?</h4>
                        <h6>mail us  -  <a href="mailto:info@lirs.gov.ng">info@lirs.gov.ng</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div><!--// Advisor Details -->

<style type="text/css">
    .cr-breadcrumb-area3 {
        background-color: #fafafa;
        background-image: url("{% static 'images/bg/about-bg.jpg'%}");
        background-size: cover;
        position: relative; }

        .cta_banner {
            position: relative;
            background: url("{% static 'images/design/patterns/pattern-dark.png' %}");
        }
</style>
{% endblock %}