{% extends 'base.html' %} 
{% load static %}

{% block content %}

<!-- Breadcrumb Area -->
<div id="cr-breadcrumb-area3" class="cr-breadcrumb-area3 section-padding--md">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-8">
                <div class="cr-breadcrumb">
                    <ul class="cr-breadcrumb__pagination">
                        <li>
                            <a href="index-2.html">Home</a>
                        </li>
                        <li>About</li>
                    </ul>
                    <h1>About Us</h1>
                    <p> </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--// Breadcrumb Area -->


<style type="text/css">
    .cr-breadcrumb-area3 {
        background-color: #fafafa;
        background-image: url("{% static 'images/bg/about-bg.jpg'%}");
        background-size: cover;
        position: relative; }

        .cta_banner {
            position: relative;
            background: url("{% static 'images/design/patterns/pattern-dark.png' %}");
        }
</style>
{% endblock %}